.header {
    display:flex;
    position:relative;
    color: #f1f1f1;
    height:70px;
    background: #2c3e50;
}
.content {
    text-align: center;
    position:absolute;
    top:70px;
    width:100%;
    height:100%;
    color: #f1f1f1;
    background-color: #282c34;
}
.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;
    background:#498ec7;
}