
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 뷰포트 높이 대응 */
}
.header {
    flex-shrink: 0; /* 축소 방지 */
    background: #1565c0;
    color: #fff;
    padding: 0px;
    text-align: center;
}
.footer {
    flex-shrink: 0; /* 축소 방지 */
    background: #1565c0;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.content {
    flex-grow: 1; /* 남은 공간 차지 */
    overflow-y: auto; /* 필요 시 세로 스크롤 */
    padding: 20px;
    color: #f1f1f1;
    background-color: #282c34;
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}  